<div id="menu">
  <p>
    {% if page.title == "about" %}
    — <a href="/about" class="is-uppercase is-active">À Propos</a>
    {% else %}
    — <a href="/about" class="is-uppercase">À Propos</a>
    {% endif %}
  </p>
  <p>
    {% if page.title == "skills" %}
    — <a href="/skills" class="is-uppercase is-active">Compétences</a>
    {% else %}
    — <a href="/skills" class="is-uppercase">Compétences</a>
    {% endif %}
  </p>
  <p>
    {% if page.title == "work" %}
    — <a href="/work" class="is-uppercase is-active">Expériences</a>
    {% else %}
    — <a href="/work" class="is-uppercase">Expériences</a>
    {% endif %}
  </p>
  <p>
    — <a href="/code" class="is-uppercase">Blog</a>
  </p>
  <p>
    {% if page.title == "contact" %}
    — <a href="/contact" class="is-uppercase is-active">Contact</a>
    {% else %}
    — <a href="/contact" class="is-uppercase">Contact</a>
    {% endif %}
  </p>
</div>