
<!DOCTYPE html>
<html lang=fr>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47110116-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-47110116-3');
    </script>
    <title>Benoît Guigal – Développeur et Data Engineer</title>
    <meta charset="utf-8">
    <meta name="description" content="Benoît Guigal – Développeur et Data Engineer">
    <meta name="keywords" content="benoit guigal, resume, blog, skills, experiences, contact">
    <meta name="author" content="Benoît Guigal">
    <meta property="dc:title" content="Benoît Guigal – Développeur et Data Engineer" />
    <meta property="og:type" content=website>
    <meta property="og:title" content="Benoît Guigal – Développeur et Data Engineer">
    <meta property="og:url" content="https://benoitguigal.fr/">
    <meta property="og:image" content="https://benoitguigal.fr/assets/images/benoit.png">
    <meta property="og:description" content="Benoît Guigal">
    <meta name="twitter:site" content="@BGuigal">
    <meta name="twitter:creator" content="@BGuigal">
    <meta name="google-site-verification" content="hapK4ybP2tYU6-DbnP5V7w5932PEgnLkIY0Xg17T7zk" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="assets/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@type": "Person",
        "url": "https://benoitguigal.fr",
        "mainEntityOfPage": "https://benoitguigal.fr",
        "description": "Benoît Guigal – Développeur et Data Engineer",
        "birthDate": "1989-02-26",
        "image": "https://benoitguigal.fr/assets/image/benoit.png",
        "birthPlace": {
          "@type": "Place",
          "name": "Annonay",
          "url": "https://www.wikidata.org/wiki/Q238366"
        },
        "gender": "http://schema.org/Male",
        "jobTitle": "Développeur et data engineer",
        "knowsAbout": [],
        "nationality": {
          "@type": "Country",
          "name": "France",
          "url": "https://www.wikidata.org/wiki/Q142"
        },
        "email": "benoit.guigal@protonmail.com"
      }
    </script>
  </head>
  <body>
    {% include title.html %}
    {% include menu.html %}
    {{ content }}
  </body>
</html>
