
<!DOCTYPE html>
<html lang=fr prefix="schema: http://schema.org/ og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article# bibo: http://purl.org/ontology/bibo/ sioc: http://rdfs.org/sioc/ns#"
  resource="/" typeof="schema:WebPage">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47110116-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-47110116-3');
    </script>
    <meta charset="utf-8">
    <title>Benoît Guigal – Développeur et Data Engineer</title>
    <meta property="dc:title" content="Benoît Guigal – Développeur et Data Engineer" />
    <meta property="og:type" content=website>
    <meta property="og:title" content="Benoît Guigal’s homepage">
    <meta property="og:url" content="https://benoitguigal.fr/">
    <meta property="og:image" content="https://benoitguigal.fr/assets/images/benoit.png">
    <meta property="og:description" content="Benoît Guigal is a developer and data engineer interested in social and environmental issues">
    <meta name="twitter:site" content="@BGuigal">
    <meta name="twitter:creator" content="@BGuigal">
    <meta name="google-site-verification" content="hapK4ybP2tYU6-DbnP5V7w5932PEgnLkIY0Xg17T7zk" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="assets/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    {% include title.html %}
    {% include menu.html %}
    {{ content }}
  </body>
</html>
